<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backHref" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (cargando()) {
    <app-loading></app-loading>
  } @else {

    <div class="foto-container" (click)="tomarFoto()">
      @if (form.foto) {
        <img [src]="form.foto" class="foto-preview" />
      } @else {
        <ion-icon name="person-circle-outline" class="foto-placeholder"></ion-icon>
      }
      <div class="camara-overlay">
        <ion-icon name="camera-outline"></ion-icon>
      </div>
    </div>
    @if (errores()['foto']) {
      <ion-text color="danger"><small>{{ errores()['foto'] }}</small></ion-text>
    }

    <div class="scan-container">
      <ion-button expand="block" fill="outline" class="btn-scan" (click)="escanearDni()">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        Escanear DNI
      </ion-button>
    </div>
    @if (errorEscaneo()) {
      <ion-text color="danger"><p>{{ errorEscaneo() }}</p></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">Nombre *</ion-label>
      <ion-input [(ngModel)]="form.nombre" type="text"></ion-input>
    </ion-item>
    @if (errores()['nombre']) {
      <ion-text color="danger"><small>{{ errores()['nombre'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">Apellido *</ion-label>
      <ion-input [(ngModel)]="form.apellido" type="text"></ion-input>
    </ion-item>
    @if (errores()['apellido']) {
      <ion-text color="danger"><small>{{ errores()['apellido'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">DNI *</ion-label>
      <ion-input [(ngModel)]="form.dni" type="text" maxlength="8" inputmode="numeric"></ion-input>
    </ion-item>
    @if (errores()['dni']) {
      <ion-text color="danger"><small>{{ errores()['dni'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">CUIL *</ion-label>
      <ion-input [(ngModel)]="form.cuil" type="text" maxlength="11" inputmode="numeric"></ion-input>
    </ion-item>
    @if (errores()['cuil']) {
      <ion-text color="danger"><small>{{ errores()['cuil'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">Correo electrónico *</ion-label>
      <ion-input [(ngModel)]="form.email" type="email"></ion-input>
    </ion-item>
    @if (errores()['email']) {
      <ion-text color="danger"><small>{{ errores()['email'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">Contraseña *</ion-label>
      <ion-input [(ngModel)]="form.password" type="password"></ion-input>
    </ion-item>
    @if (errores()['password']) {
      <ion-text color="danger"><small>{{ errores()['password'] }}</small></ion-text>
    }

    <ion-item lines="none">
      <ion-label position="floating">Confirmar contraseña *</ion-label>
      <ion-input [(ngModel)]="form.confirmarPassword" type="password"></ion-input>
    </ion-item>
    @if (errores()['confirmarPassword']) {
      <ion-text color="danger"><small>{{ errores()['confirmarPassword'] }}</small></ion-text>
    }

    <p class="perfil-label">Perfil *</p>
    <div class="perfil-selector">
      <div class="perfil-card" [class.seleccionado]="form.perfil === 'metre'" (click)="form.perfil = 'metre'">
        <ion-icon name="star-outline"></ion-icon>
        <span>Metre</span>
      </div>
      <div class="perfil-card" [class.seleccionado]="form.perfil === 'mozo'" (click)="form.perfil = 'mozo'">
        <ion-icon name="restaurant-outline"></ion-icon>
        <span>Mozo</span>
      </div>
      <div class="perfil-card" [class.seleccionado]="form.perfil === 'cocinero'" (click)="form.perfil = 'cocinero'">
        <ion-icon name="flame-outline"></ion-icon>
        <span>Cocinero</span>
      </div>
      <div class="perfil-card" [class.seleccionado]="form.perfil === 'cantinero'" (click)="form.perfil = 'cantinero'">
        <ion-icon name="wine-outline"></ion-icon>
        <span>Cantinero</span>
      </div>
      <div class="perfil-card card-ancho" [class.seleccionado]="form.perfil === 'supervisor'" (click)="form.perfil = 'supervisor'">
        <ion-icon name="eye-outline"></ion-icon>
        <span>Supervisor</span>
      </div>
    </div>
    @if (errores()['perfil']) {
      <ion-text color="danger"><small>{{ errores()['perfil'] }}</small></ion-text>
    }

    @if (errorGeneral()) {
      <ion-text color="danger"><p>{{ errorGeneral() }}</p></ion-text>
    }

    @if (exitoso()) {
      <ion-text color="success"><p>¡Empleado agregado correctamente!</p></ion-text>
    }

    <ion-button expand="block" (click)="guardar()" [disabled]="cargando()" class="ion-margin-top">
      <span>Guardar empleado</span>
    </ion-button>

  }

</ion-content>