:host {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #693c11;

  // fuerza que quede por encima del router outlet de Ionic
  contain: none;
  isolation: isolate;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.loading-logo {
  width: 140px;
  height: 140px;
  border-radius: 28px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  opacity: 1;
}