<ion-header>
  <ion-toolbar>
    <ion-title>Hola, {{ usuario()?.nombre }}!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="menu-grid">
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="ir('/supervisor/clientes-pendientes')">
          <ion-card-content>
            <ion-icon name="people-outline"></ion-icon>
            <p>Usuarios pendientes</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="ir('/supervisor/agregar-empleado')">
          <ion-card-content>
            <ion-icon name="person-add-outline"></ion-icon>
            <p>Agregar empleado</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="ir('/supervisor/agregar-mesa')">
          <ion-card-content>
            <ion-icon name="grid-outline"></ion-icon>
            <p>Agregar mesa</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button (click)="ir('/supervisor/qr-entrada')">
          <ion-card-content>
            <ion-icon name="qr-code-outline"></ion-icon>
            <p>QR Entrada</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card button (click)="ir('/supervisor/qr-propinas')">
          <ion-card-content>
            <ion-icon name="cash-outline"></ion-icon>
            <p>QR Propinas</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
