// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
    --color-principal: #ea5929;
    --color-verde: #2c3d1c;
    --color-letras: #f2dab4;
    --color-marron: #693c11;

    --ion-color-primary:          #eb6121;
    --ion-color-primary-rgb:      235, 97, 33;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade:    #d85a30;
    --ion-color-primary-tint:     #fb7922;

    --ion-background-color:       #2c3d1c;
    --ion-background-color-rgb:   44, 61, 28;
    --ion-text-color:             #ffdca3;
    --ion-text-color-rgb:         255, 220, 163;

    --ion-card-background:        #3a4f28;
    --ion-toolbar-background:     #eb6121;
    --ion-toolbar-color:          #2c3d1c;
    --ion-item-background:        #2c3d1c;
    --ion-border-color:           #FFB37A;
}