// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
    --color-principal: #ea5929;
    --color-verde: #2c3d1c;
    --color-letras: #f2dab4;
    --color-marron: #693c11;
}