<ion-content class="splash-content">
  <div class="splash-container">
    <div class="logo-wrapper" [class.animado]="animando">
      <img src="assets/img/splash.png" alt="Logo" class="logo" />
    </div>
    <h1 class="titulo" [class.visible]="mostrarTexto">El Buen Sabor</h1>
    <p class="subtitulo" [class.visible]="mostrarTexto">Gestión de Restaurante</p>
    <div class="integrantes" [class.visible]="mostrarIntegrantes">
      <p>Depaolo, Juan Manuel</p>
      <p>Cespedes, Carmen Camila</p>
      <p>Caballero, Jorge</p>
    </div>
  </div>
</ion-content>