<ion-content class="login-content">
  <div class="login-container">

    <div class="header">
      <img src="assets/img/logo.png" alt="Logo" class="logo" />
     <!--  <h1>Bienvenido</h1> -->
      <p class="inicio-sesion">Inicia sesión para continuar</p>
    </div>

    <div class="form-card">
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          placeholder="ejemplo@correo.com">
        </ion-input>
      </ion-item>
      @if (errores.email) {
        <p class="error-msg">{{ errores.email }}</p>
      }

      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          placeholder="••••••••">
        </ion-input>
      </ion-item>
      @if (errores.password) {
        <p class="error-msg">{{ errores.password }}</p>
      }

      @if (errorGeneral) {
        <p class="error-msg error-general">{{ errorGeneral }}</p>
      }

      <ion-button expand="block" class="btn-ingresar" (click)="login()">
        Ingresar
      </ion-button>

      <div class="ion-text-center">
        <ion-button fill="clear" class="btn-link" routerLink="/cliente/registro">
          ¿No tenés cuenta? Registrate
        </ion-button>
      </div>

      <div class="ion-text-center">
        <ion-button fill="clear" class="btn-link" routerLink="/cliente/anonimo">
          Ingresar como cliente anónimo
        </ion-button>
      </div>

    </div>


    <div class="acceso-rapido">
      <p class="acceso-titulo">Acceso rápido</p>
      <div class="lista-usuarios">

        <div class="usuario-item" (click)="loginRapido('dueño')">
          <div class="avatar">
            <ion-icon name="briefcase-outline"></ion-icon>
          </div>
          <span>Dueño</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('supervisor')">
          <div class="avatar">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
          <span>Supervisor</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('metre')">
          <div class="avatar">
            <ion-icon name="star-outline"></ion-icon>
          </div>
          <span>Metre</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('mozo')">
          <div class="avatar">
            <ion-icon name="restaurant-outline"></ion-icon>
          </div>
          <span>Mozo</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('cocinero')">
          <div class="avatar">
            <ion-icon name="flame-outline"></ion-icon>
          </div>
          <span>Cocinero</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('cantinero')">
          <div class="avatar">
            <ion-icon name="wine-outline"></ion-icon>
          </div>
          <span>Cantinero</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

        <div class="usuario-item" (click)="loginRapido('cliente')">
          <div class="avatar">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <span>Cliente</span>
          <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
        </div>

      </div>
    </div>

  </div>
</ion-content>
