<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backHref()"></ion-back-button>
    </ion-buttons>
    <ion-title>QR de Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <p>Este es el código QR de ingreso al local. Mostralo en la entrada para que los clientes puedan anotarse en la lista de espera.</p>

  <div class="qr-wrapper">
    @if (qrEntrada()) {
      <img [src]="qrEntrada()" alt="QR Entrada" />
    } @else {
      <ion-spinner name="crescent"></ion-spinner>
    }
  </div>

  @if (qrEntrada()) {
    <ion-button expand="block" (click)="descargar()" class="ion-margin-top">
      <ion-icon name="download-outline" slot="start"></ion-icon>
      Descargar QR
    </ion-button>
  }

</ion-content>
